<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.tangcco.mapper.CourseMapper">
    <select id="selectAllCourse" resultType="cn.kgc.tangcco.entity.Course">
        select * from course
    </select>
    <select id="selectCourseByCid" parameterType="integer" resultType="cn.kgc.tangcco.entity.Course">
        select * from course where cid=#{cid}
    </select>
    <select id="selectCourseBySid" parameterType="integer" resultType="cn.kgc.tangcco.entity.Course">
        select c.* from course c, relation r where c.cid = r.cid and r.sid = #{sid}
    </select>
</mapper>